
.item1 {
  grid-area: info;
}

.item2 {
  grid-area: activeprogram;
}

.item4 {
  grid-area: pressure;
}

.item5 {
  grid-area: spraysystem;
}


.item9 {
  grid-area: activetool;
}

.grid-container {
  height: 83vh;
  display: grid;
  grid-template-areas:
    'info info logMessage logMessage logMessage logMessage spindletime  spindletime spindletime'
    'info info  pressure pressure spraysystem    spraysystem spraysystem   status status'
    'activeprogram activeprogram activeprogram livecam livecam livecam  livecam activetool activetool'
    'activeprogram activeprogram activeprogram livecam livecam livecam livecam activetool activetool';
  padding: 1.5vw;
  gap: 1.5vw;
  grid-template-rows: 10vh;
  grid-template-columns: repeat(9, 1fr); /* Updated grid-template-columns */
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 1vh;
  -webkit-box-shadow: 2px 5px 8px -5px rgba(145, 145, 145, 1);
  -moz-box-shadow: 2px 5px 8px -5px rgba(145, 145, 145, 1);
  box-shadow: 2px 5px 8px -5px rgba(145, 145, 145, 1);
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: 100%;
}

.grid-container > .item1 > table {
  width: 90%;
  margin-left: 10%;
  height: 90%;
  padding-bottom: 1vh;
}

.grid-container > div > h3 {
  width: 100%;
}

th {
  text-align: left;
  font-weight: lighter;
}

.innerContent {
  width: 100%;
}

.content {
  padding-top: 10vh;
  background: #d7d7d7;
  overflow-y: hidden;
}

.item2 > .image_Preview {
  width: 30%;
}

.item2 > table {
  width: 90%;
  height: 50%;
  margin-left: 10%;
  padding-bottom: 1vh;

}

.item3 {
  grid-area: logMessage;
  display: table;
}

.item3 > .infoText {
  border-right: #a6a6a6 solid 1px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 20%;
}

.item3 > .underleadingText {
  display: table-cell;
  vertical-align: middle;
  color: #363636;
  padding-left: 10%;
}

.item4 > table {
  width: 70%;
  height: 70%;
  margin-left: 10%;
}

.item5 > table {
  width: 70%;
  height: 70%;
  margin-left: 10%;
}

.item6 {
  grid-area: livecam;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item6 > .imageContainer {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item6 > .imageContainer > .image_liveCam {
  width: 100%;
  height: 100%;
}

.item7 {
  grid-area: spindletime;
  display: table;
}

.item7 > .infoText {
  border-right: #a6a6a6 solid 1px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 40%;
}

.item7 > .underleadingText {
  display: table-cell;
  vertical-align: middle;
  color: #363636;
  padding-left: 10%;
}

.item8 {
  grid-area: status;
  display: flex;
  align-items: center;
}

#status-light__status {

  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
  margin-right: 3rem;
  margin-left: 1rem;
}

.status-light__content {
  flex: 1;
}

.item9 > .imgContainer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item9 > .imgContainer > .image_Preview {
  width: 60%;
  height: 60%;
}

.item9 > table {
  height: 55%;
}

@media screen and (max-width: 768px) {
  .item2 > .imgContainer > .image_Preview {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .content {
    padding-top: 20vh;
  }

  .grid-container > div {
    width: auto;
  }

  .grid-container {

    background: #d7d7d7;
    height: auto;
    grid-template-areas:
      'info'
         'status'
      'activeprogram'
      'logMessage'
      'pressure'
      'spraysystem'
      'livecam'
      'spindletime'
      'activetool';
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 5vh;
  }

  .item9 {
    margin-bottom: 20vh;
    height: 50vh;
  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7,
  .item8,
  .item9 {
    width: 30vw;
    margin: 0;
    padding: 2vh
  }

  .item1 {
    margin-top: 5vh;
  }
}

.table-container {
  max-height: 100%;
  overflow-y: auto;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #707070;
  font-weight: lighter;
}

tr {
  line-height: 150%;
}

.item2 > .imgContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item2 > .imgContainer > .image_Preview {
  height: 100%;
  object-fit: cover;
}

.item2 > .image_warning {
  font-weight: lighter;
  color: #707070;
  text-align: center;
}


.item1,
.item2 {
  width: 25vw;
  overflow: hidden;
}

.item1 > table {
  width: 100%;
}

.scrollableTableContainer {
  width: 100%;
  overflow-x: auto;
}

.scrollableTableContainer table {
  width: auto;
  table-layout: auto;
}

.scrollableTableContainer td {
  white-space: nowrap;
}
