<div class="content">

    <div class="topStateDisplay">
        <h1>MLCube</h1>

    </div>
    <div class="innerContent">
        <div class="grid-container">
            <div class="item1">
                <h3>Informationen</h3>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>Contact</td>
                    </tr>
                    <tr>
                        <th>Nummer:</th>
                        <td>Maria Anders</td>
                    </tr>
                    <tr>
                        <th>Next-Version:</th>
                        <td>Francisco Chang</td>
                    </tr>
                    <tr>
                        <th>Etage:</th>
                        <td>Francisco Chang</td>
                    </tr>
                    <tr>
                        <th>Standort:</th>
                        <td>Francisco Chang</td>
                    </tr>
                </table>
            </div>
            <div class="item2">
                <h3>Aktives Programm</h3>

                <div class="imgContainer">

                </div>
                <table>
                    <tr>
                        <th>Fortschritt:</th>
                        <td>Contact</td>
                    </tr>
                    <tr>
                        <th>Verbleibend:</th>
                        <td>Maria Anders</td>
                    </tr>
                    <tr>
                        <th>Ausführungszeit:</th>
                        <td>Francisco Chang</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>Francisco Chang</td>
                    </tr>
                    <tr>
                        <th>Dateityp:</th>
                        <td>Francisco Chang</td>
                    </tr>
                    <tr>
                        <th>Speicherort:</th>
                        <td>Francisco Chang</td>
                    </tr>
                </table>


            </div>
            <div class="item3">
                <p class="infoText">Info</p>
                <p class="underleadingText">Das Werkzeug #12351 wurde in den Spindel eingewechselt</p>
            </div>
            <div class="item4">
                <h3>Druck</h3>
                <table>
                    <tr>
                        <th>Druckplatte:</th>
                        <td>0</td>
                        <td>bar</td>
                    </tr>
                    <tr>
                        <th>Ausgangsdruck:</th>
                        <td>12.23</td>
                        <td>bar</td>
                    </tr>
                    <tr>
                        <th>Eingangsdruck:</th>
                        <td>1.23</td>
                        <td>bar</td>
                    </tr>
                </table>
            </div>
            <div class="item5">
                <h3>Sprühsystem</h3>
                <table>
                    <tr>
                        <th>Tank 1:</th>
                        <td>Tank 1 ist nicht leer

                        </td>
                    </tr>
                    <tr>
                        <th>Tank 2:</th>
                        <td>
                            Tank 2 ist nicht vorhanden
                        </td>
                    </tr>
                </table>
            </div>
            <div class="item6">LiveCam</div>
            <div class="item7">

                <p class="infoText">Bewegungszeit der Spindel</p>
                <p class="underleadingText">07:12:23:45</p>

            </div>
            <div class="item8">
                <div class="status-light__status"></div>

                <!-- Content -->
                <div class="status-light__content">Idle</div>
            </div>
            <button class="item10" routerLink="/login" >Sessions</button>
            <div class="item9">
                <h3>Aktives Werkzeug</h3>
                <div class="imgContainer">

                </div>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>Fräser

                        </td>
                    </tr>
                    <tr>
                        <th>Beschreibung:</th>
                        <td>
                            Fräser 2 ist nicht vorhanden
                        </td>
                    </tr>
                    <tr>
                        <th>ArtikelNr:</th>
                        <td>
                            123dl20
                        </td>
                    </tr>
                    <tr>
                        <th>Eigenschaft:</th>
                        <td>
                            Eingewindig
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
