<div class="content">
  <app-popup *ngIf="!this.machineMainStateService.globalMachineState" [errorMessage]="popupErrorMessage"></app-popup>

  <div class="innerContent">
    <div class="grid-container">
      <div class="item1">
        <h3>Informationen</h3>
        <table>
          <tr>
            <th>Name:</th>
            <td>{{machineName}}</td>
          </tr>
          <tr>
            <th>Nummer:</th>
            <td>{{machineNumber}}</td>
          </tr>
          <tr>
            <th>Next-Version:</th>
            <td>{{machineSoftwareVersion}}</td>
          </tr>
          <tr>
            <th>Etage:</th>
            <td>{{machineFloor}}</td>
          </tr>
          <tr>
            <th>Standort:</th>
            <td>{{machineLocation}}</td>
          </tr>
        </table>

      </div>
      <div class="item2">
        <h3>Aktives Programm</h3>
        <div class="imgContainer">
          <img *ngIf="programPreviewImage != 'data:image/png;base64,' && programPreviewImage != 'data:image/png;base64,eyJ0eXBlIjoiaHR0cHM6Ly90b29scy5pZXRmLm9yZy9odG1sL3JmYzcyMzEjc2VjdGlvbi02LjUu'" [src]="programPreviewImage" class="image_Preview">
          <p *ngIf="programPreviewImage == 'data:image/png;base64,' || programPreviewImage == 'data:image/png;base64,eyJ0eXBlIjoiaHR0cHM6Ly90b29scy5pZXRmLm9yZy9odG1sL3JmYzcyMzEjc2VjdGlvbi02LjUu'" class="image_warning">Kein Bild verfügbar</p>
        </div>
        <div class="scrollableTableContainer">
          <table>
            <tr>
              <th>Fortschritt:</th>
              <td>{{activeProgramProgress}}</td>
            </tr>
            <tr>
              <th>Verbleibend:</th>
              <td>{{activeProgramTimeLeft}}</td>
            </tr>
            <tr>
              <th>Ausführungszeit:</th>
              <td>{{activeProgramTimeExecution}}</td>
            </tr>
            <tr>
              <th>Name:</th>

              <td>{{activeProgramName}}</td>
            <tr>
            <tr>
              <th>Dateityp:</th>
              <td>{{activeProgramType}}</td>
            </tr>
            <tr>
              <th>Speicherort:</th>
              <td>{{activeProgramDirectory}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="item3">
        <p class="infoText">{{notificationType}}</p>
        <p class="underleadingText">{{notificationMessage}}</p>
      </div>
      <div class="item4">
        <h3>Druck</h3>
        <table>
          <tr>
            <th>Druckplatte:</th>
            <td>{{machineVacuum}}</td>
            <td>bar</td>
          </tr>
          <tr>
            <th>Ausgangsdruck:</th>
            <td>{{tankPressureOutput}}</td>
            <td>bar</td>
          </tr>
          <tr>
            <th>Eingangsdruck:</th>
            <td>{{tankPressureInput}}</td>
            <td>bar</td>
          </tr>
        </table>
      </div>
      <div class="item5">
        <h3>Sprühsystem</h3>
        <table>
          <tr>
            <th>Tank 1:</th>
            <td>{{machineTank1Empty}}

            </td>
          </tr>
          <tr>
            <th>Tank 2:</th>
            <td>
              {{machineTank2}}
            </td>
          </tr>
        </table>
      </div>
      <div class="item6">
        <h3>Kamera</h3>
        <div class="imageContainer">
          <img #stream style="display: none">
          <canvas #canvas_Livecam height="300"  width="500"></canvas>
        </div>
      </div>
      <div class="item7">
        <p class="infoText">Bewegungszeit der Spindel</p>
        <p class="underleadingText">{{runtimeCombined}}</p>
      </div>
      <div class="item8">
        <div id="status-light__status" [ngStyle]="{'background-color': machineRGBState}"></div>
        <!-- Content -->
        <div class="status-light__content">{{machineState}}</div>
      </div>
      <div class="item9">
        <h3>Aktives Werkzeug</h3>
        <div class="imgContainer">
          <img [src]="toolInSpindleImage" class="image_Preview">
        </div>
        <table>
          <tr>
            <th>Name:</th>
            <td>{{toolName}}
            </td>
          </tr>
          <tr>
            <th>Beschreibung:</th>
            <td>
              {{toolDescription}}
            </td>
          </tr>
          <tr>
            <th>ArtikelNr:</th>
            <td>
              {{toolArticleNr}}
            </td>
          </tr>
          <tr>
            <th>Eigenschaft:</th>
            <td>
              {{toolProperty}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
