<div class="topStateDisplay" *ngIf="environment.userIsAuthenticated" [ngStyle]="{
  '-webkit-box-shadow': '0px 0px 46px 11px'  +machineRGBState,
  '-moz-box-shadow': '0px 0px 46px 11px ' +machineRGBState,
  'box-shadow': '0px 0px 46px 11px '+machineRGBState
}">
  <img height="20vw" routerLink="/dashboard" src="assets/gg-icon.svg">
  <h1 >MakerMilling</h1>
  <a routerLink="/dashboard" class="topStateDisplay-sessions" *ngIf="environment.userIsAuthenticated">Dashboard</a>
  <a routerLink="/sessions" class="topStateDisplay-sessions" *ngIf="environment.userIsAuthenticated">Sessions</a>
  <a (click)="logOut()" *ngIf="environment.userIsAuthenticated">Abmelden</a>

</div>
