<div class="form-container">
  <form [formGroup]="regForm" class="my-form">
    <h3>Maker Milling <br/> (Thingworx Login)</h3>
    <div class="form-group">
      <span *ngIf="!regForm.get('username')?.valid && regForm.get('username')?.touched">Gib deinen Thingworx Benutzernamen ein.</span>
      <input type="text" placeholder="Benutzername" formControlName="username">
    </div>
    <div class="form-group">
      <span *ngIf="!regForm.get('password')?.valid && regForm.get('password')?.touched">Gib dein Thingworx Passwort ein.</span>
      <input type="password" placeholder="Passwort" formControlName="password">
    </div>
    <div class="form-group">
      <button (click)="onSubmit()" [disabled]="!regForm.valid">Anmelden</button>
      <p class="error-msg">{{errormsg}}</p>
    </div>
  </form>
</div>
